/app-backend/node_modules
/app-backend/public/hotjen
/docker_volumes
/app-backend/public/storage
/app-backend/public/assets/photos
/app-backend/public/assets/posts
/app-backend/public/assets/temp
/app-backend/storage/*.key
/app-backend/vendor
/app-backend/app-backend/.env
/app-backend/.phpunit.result.cache
/app-backend/Homestead.json
/app-backend/Homestead.yaml
/app-backend/npm-debug.log
/app-backend/yarn-error.log
/.idea
/.vscode
mysql/*
